<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="modal-dialog  modal-lg">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <h4 class="modal-title">Update Customer <span th:text="${customer?.getCustomerFirstName()}"></span></h4>
            </div>
            <div class="col-lg-12">
                <div class="modal-body">
                    <form role="form" action="#" id="formUpdate">
                        <div class="col-lg-6 b-r">
                            <input type="hidden" name="id" id="id" th:value="${customer.getId()}"/>
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" name="customerFirstName" id="customerFirstName"
                                       placeholder="Enter the name" class="form-control"
                                       th:value="${customer.getCustomerFirstName()}"/>
                            </div>
                            <div class="form-group"><label>Last Name</label>
                                <input type="text" name="customerLastName" id="customerLastName" placeholder="Last Name"
                                       class="form-control" th:value="${customer.getCustomerLastName()}"/>
                            </div>
                            <div class="form-group">
                                <label>Adress</label>
                                <textarea name="customerAdress" placeholder="The Adress" class="form-control" rows="2"
                                          id="customerAdress" th:value="${customer.getCustomerAdress()}"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Phone Number 1</label>
                                <input type="text" name="customerPhone1" id="customerPhone1" placeholder="Phone 1"
                                       class="form-control" th:value="${customer.getCustomerPhone1()}"/>
                            </div>

                        </div>
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label>Phone Number 2</label>
                                <input type="text" name="customerPhone2" id="customerPhone2" placeholder="Phone 2"
                                       class="form-control" th:value="${customer.getCustomerPhone2()}"/>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="customerEmail" id="customerEmail" placeholder="Email"
                                       class="form-control" th:value="${customer.getCustomerEmail()}"/>
                            </div>
                            <div class="form-group">
                                <label>Prefered Communication</label>
                                <select name="customerPreferedCommunication" id="customerPreferedCommunication" class="form-control m-b">
                                    <option></option>
                                <div th:each="typeCom: ${typeCommunications}">
                                    <div th:if="${typeCom.id==selected.getId()}">
                                    <option th:value="${typeCom.id}" selected="true"><span th:text="${typeCom.value}"></span></option>
                                    </div>
                                    <option th:value="${typeCom.id}"><span th:text="${typeCom.value}"></span></option>
                                </div>
                            </select>
                            </div>
                            <div class="form-group">
                                <label>Remarks</label>
                                <textarea name="customerRemarks" id="customerRemarks" class="form-control" rows="2"
                                          th:value="${customer.getCustomerRemarks()}"></textarea>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="modalForUpdate">Save changes</button>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">

    $(document).ready(function(){
        $("#modalForUpdate").click(function(){
            var customerBean=$("#formUpdate").serialize();
            alert(customerBean);
            $.ajax({
                url:"/dry/customer/updateCustomer",
                type:"POST",
                data:customerBean
            }).success(function(data){
                alert(JSON.stringify(data));
                window.location.href="/dry/customer/search";
            });
        });

    });

</script>
</html>